<div class="card mb-4">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{issue.title}}</h5>
          <p class="card-text">Created <br/> <strong>{{issue.created | date: 'dd/MM/yyyy hh:mm:ss'}}</strong></p>
          <a href="#" class="btn btn-primary" routerLink='/issue/{{issue.id}}'>Details</a>
        </div>
      </div>
</div>