/* You can add global styles to this file, and also import other style files */
.tab-panel {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
  }
  
  .nav-tabs > li.open, .project-tabset > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
  }
  
  .project-tabset > .nav-tabs > li.open > a, .project-tabset > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
  }
  
  .project-tabset > .nav-tabs > li.open > a > i, .project-tabset > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }
  
  .project-tabset > .nav-tabs > li.open .dropdown-menu, .project-tabset > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  
  .project-tabset > .nav-tabs > li.active {
    border-bottom: 4px solid #218ff7;
    position: relative;
  }
  
  .project-tabset > .nav-tabs > li.active > a {
    border: 0 !important;
    color: #333333;
  }
  
  .project-tabset > .nav-tabs > li.active > a > i {
    color: #404040;
  }
  
  .project-tabset > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
  }
  