<form #editForm="ngForm" (ngSubmit)="saveProject()" id="editForm">

    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input [(ngModel)]="project.title" name="title" type="text" class="form-control"  placeholder="{{project.title}}">
    </div>
  
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input [(ngModel)]="project.description" name="description" type="text" class="form-control" placeholder="{{project.description}}">
    </div>
        
    <button type="submit" class="btn btn-primary">Submit</button>
  
  </form>