<div class="row" *ngIf="member">
    <div class="col-4">
        <div class="card">
            <img src="{{member.mainPhoto || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>User: </strong>
                    <p>{{member.knownAs}}</p>
                </div>

                <div>
                    <strong>Location: </strong>
                    <p>{{member.location}}</p>
                </div>
            </div>

            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    </div>
</div>