
<div class="container" *ngIf="project">
    <div class="row">
        <div class="col-10">
            <tabset class="project-tabset">
                <tab heading="Project Info">
                    <h1 >{{project.title}}</h1>
                    <p>{{project.description}}</p>
                </tab>
                <tab heading="Project Users">
                    <p>User 1</p>
                    <p>User 2</p>
                </tab>
                <tab heading="Issues">
                    <div class="row">
                        <div *ngFor="let issue of project.issues" class="col-3">
                        <app-issue-card [issue]="issue"></app-issue-card>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
        <div class="col-1">
            <div class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                        aria-controls="dropdown-basic">
                + <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu mw-50"
                    role="menu" aria-labelledby="button-basic">
                    <li role="menuitem">
                        <div class="col-xs-12">
                            <a class="dropdown-item" routerLink='/create/issue' [queryParams]="{projectId: project.id}">Issue</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>