<div class="row" *ngIf="member">
    <div class="col-4">
        <h1>Your profile</h1>
    </div>
    <div class="col-8">
        <div class="alert alert-info" *ngIf="editForm.dirty">
            <strong>Information: </strong> You have made changes. Any unsaved changes will be lost.
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <img src="{{member.mainPhoto || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>User: </strong>
                    <p>{{member.username}}</p>
                </div>
            </div>

            <div class="card-footer">
                <button [disabled]="!editForm.dirty"form="editForm" type="submit" class="btn btn-success btn-block">Save Changes</button>
                <br/>
                <button *ngIf="member.mainPhoto" (click)="deletePhoto()" type="submit" class="btn btn-danger btn-block">Remove Photo</button>
            </div>

            
        </div>
    </div>

    <div class="col-8">
        <form #editForm="ngForm" (ngSubmit)="updateMember()" id="editForm">
            <div class="mb-3">
                <label for="knownAs" class="form-label">Known as</label>
                <input [(ngModel)]="member.knownAs" name="knownAs" type="text" class="form-control"  placeholder="{{member.knownAs}}">
              </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input [(ngModel)]="member.location" name="location" type="text" class="form-control" placeholder="{{member.location}}">
            </div>
        </form>

        <app-upload [member]="member"></app-upload>
    </div>
</div>