<div class="container mt-5">
    <div class="row" *ngIf="user">
        <app-project-list [userProjects]="true" ></app-project-list>
    </div>

    <div class="row" *ngIf="!user">
        <div class="container mt-5">
            <div *ngIf="!registerMode" style="text-align: center;">
                <h1>Project name</h1>
                <p class="lead">Project description</p>
                <div class="text-center">
                    <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Register</button>
                </div>
            </div>
        
            <div *ngIf="registerMode" class="container">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <app-register (cancelRegister)="cancelRegisterMode($event)" ></app-register>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


