<div class="text-center mt-3" *ngIf="pagination && projects?.length <= 0">
    <h2>You are not assigned to any projects!</h2>
</div>


<div class="text-center mt-3" *ngIf="pagination?.totalItems">
    <h2>{{userProjects ? 'Projects - ' + pagination?.totalItems + ' found' : 'You are assinged to ' + pagination?.totalItems + ' projects'}}</h2>
</div>

<div class="row" *ngIf="pagination?.totalItems">
    <div class="container mt-3 mb-2" >
        <form #form="ngForm" class="form-inline mb-3" (ngSubmit)="loadProjects()" autocomplete="off">
            <div class="form-group">
                <label>Title </label>
                <input type="text" class="form-control ml-1" style="width: 70;" name="title" 
                 [(ngModel)]="projectParams.title">
            </div>
    
            <div class="form-group px-2">
                <label>Shown hidden projects</label>
                <input [(ngModel)]="projectParams.hiddenProjectsShow" name="hiddenProjectsShow" type="checkbox" class="form-control ml-1"/>
            </div>

            <div class="form-group px-2">
                <button class="btn btn-primary ml-1" type="submit">Apply Filters</button>
                <button (click)="resetFilters()" class="btn btn-info ml-1" type="submit">Reset Filters</button>
            </div>
        
            <div class="col">
                <div class="btn-group float-right">
                    <button 
                        type="button"
                        class="btn-primary" name="orderBy"
                        (click)="loadProjects()"
                        btnRadio="title"
                        [(ngModel)]="projectParams.orderBy">Title</button>
    
                        <button 
                        type="button"
                        class="btn-primary" name="orderBy"
                        (click)="loadProjects()"
                        btnRadio="default"
                        [(ngModel)]="projectParams.orderBy">Default</button>
                </div>
            </div>

            
        </form>
    </div>
</div>


<div class="row">
    <div *ngFor="let project of projects" class="col-2">
       <app-project-card [project]="project"></app-project-card>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination && projects.length > 0">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
    </pagination>
</div>

