<div class="row" *ngIf="issue">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div>
                    <strong>Issue: </strong>
                    <p>{{issue.title}}</p>
                </div>

                <div>
                    <strong>Created at: </strong>
                    <p>{{issue.created | date: 'dd/MM/yyyy hh:mm:ss'}}</p>
                </div>

                <div>
                    <strong>Resolved date: </strong>
                    <p>{{issue.resolveDate | date: 'dd/MM/yyyy hh:mm:ss'}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <strong>Description: </strong>
        <p>{{issue.description}}</p>
    </div>
</div>

