<form [formGroup]="saveIssueForm" (ngSubmit)="saveIssueForm.valid &&  saveIssue()" autocomplete="off">
  <h2 class="text-center text-primary">Issue </h2>
  <hr>

  <app-text-input [formControl]='saveIssueForm.controls["title"]' [label]='"Title"'></app-text-input>
  <app-text-input [formControl]='saveIssueForm.controls["description"]' [label]='"Description"'></app-text-input>
  <app-text-input [formControl]='saveIssueForm.controls["sprite"]' [label]='"Sprite"'></app-text-input>
  <app-text-input [formControl]='saveIssueForm.controls["revision"]' [label]='"Revision"'></app-text-input>
  <app-text-input [formControl]='saveIssueForm.controls["version"]' [label]='"Version"'></app-text-input>


  <div class="mb-3">
    <label for="observer" class="form-label">Add Observervator</label>
    <select (change)="onChange($event.target.value)" class="form-control w-auto" >
      <option value data-isdefault="true">--Choose an Observer--</option>
      <option *ngFor="let obs of observers">{{obs.username}}</option>
    </select>  
  </div>

  <h4 class="form-label" *ngIf="observersToAddToIssue.size > 0 ">Observervator for issue</h4>
  <ul class="list-group list-group-flush" style="display:inline-block;"  >
    <li class="list-group-item" *ngFor="let observerChoosen of observersToAddToIssue; let i = index" >
      {{observerChoosen.username}}
    <button class="btn btn-danger btn-sm ml-1" (click)="removeObserver(i)" type="button">X</button>
    </li>
    
  </ul>
  <br/>
  <!-- <div #selectedObservers>

  </div> -->

  <div class="row" *ngIf="validationErrors.length > 0">
    <ul class="text-danger">
        <li *ngFor="let error of validationErrors">
            {{error}}
        </li> 
    </ul>
  </div>

  <button [disabled]="!saveIssueForm.valid" class="btn btn-success mr-2" type="submit">Submit</button>

</form>