<div class="card mb-4">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{project.title}}</h5>
          <p class="card-text">{{project.description}}</p>
          <a href="#" class="btn btn-primary" routerLink='/project/{{project.title}}'>Details</a>
        </div>
      </div>
</div>