<h2>Settings Panel</h2>
<div class="tab-panel">
    <tabset>
        <tab heading="User managment">
            <div class="container">
                <app-user-managment></app-user-managment>
            </div>
        </tab>
    </tabset>
</div>